Source: ros-noetic-humanoid-robot-tuning-module-msgs
Section: misc
Priority: optional
Maintainer: Ronaldson Bellande <ronaldsonbellande@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-catkin, ros-noetic-message-generation, ros-noetic-message-runtime, ros-noetic-std-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-noetic-humanoid-robot-tuning-module-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-noetic-message-generation, ros-noetic-message-runtime, ros-noetic-std-msgs
Description: This package includes ROS messages and services for the ROBOTIS HUMANOID_ROBOT packages
